**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/out
**/*.user
**/*.suo
**/Thumbs.db
**/.DS_Store
**/Test_Result.txt
**/tmpclaude-*
**/ROADMAP.md
**/LICENSE
**/logs
*.md
!README.md
