{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;port=5432;Database=exampledb;User Id=postgres;Password=example@123;TrustServerCertificate=True;"
  },
  "SeedData": {
    "AdminUser": {
      "Username": "admin",
      "Email": "mail@example.com",
      "Password": "Admin@123",
      "Role": "Admin"
    }
  }
}
